[Interface]
Address = 10.0.10.2/32
PrivateKey = ${client_private_key}
DNS = ${dns_server_address}
MTU = 1380

[Peer]
PublicKey = ${server_public_key}
Endpoint = ${wireguard_ip}:51820
AllowedIPs = 10.0.10.0/24, 10.10.10.0/24, 10.0.0.0/28
PersistentKeepalive = 21
